.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.container h1
{
    font-size: 3em;
    color:rgb(241, 60, 60);
}
.txt1

{
    font-size: 1.5em;
    color: rgb(241, 60, 60);
    margin-top: 60px;
}
.img1
{
    width: 230px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  /* Container for the loading bar */
    .loading-container {
      width: 100%; /* Full width */
      max-width: 200px; /* Optional: Limit the width */
      height: 7px; /* Height of the bar */
      background-color: #e0e0e0; /* Light gray background */
      border-radius: 10px; /* Rounded corners */
      overflow: hidden; /* Prevent overflow of the inner bar */
      margin: 40px auto; /* Center the container */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    }

    /* The animated loading bar */
    .loading-bar {
      height: 100%; /* Full height of the container */
      width: 0%; /* Start with 0% width */
      background-color: rgb(241, 60, 60); /* Green color */
      animation: loading 5s infinite; /* Animation: 2 seconds, infinite loop */
    }

    /* Keyframes for the loading animation */
    @keyframes loading {
      0% {
        width: 0%; /* Start at 0% width */
      }
      100% {
        width: 100%; /* Expand to full width */
      }
      /*100% {
        width: 0%; /* Shrink back to 0%
      }*/
    }
    .img2
{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn2
{
    background-color: rgb(241, 60, 60);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.txt2
{
    font-size: 1.2em;
    color: rgb(241, 60, 60);
   
}
.img3
{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container2
{
 
 
  width:240px;
    height:auto;
    border-radius: 10px;
   background-color: rgb(232, 226, 226);
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.container3
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgb(241, 60, 60);
}
